@*CAPTION SECTION*@
<section>
    <div class="container " id="primary">
        <div class="row ">  
            <div class="pt-5 text-right ">
                <h1 class="display-4  py-5 text-danger font-weight-bold ">TASTY WINES</h1>
            </div>
                
        </div>
    </div>
</section>
@*WINE SELECTION SECTION*@ 
<section class="py-3 bg-light">
    <div class="container-fluid">
        <div class="row">
               <button class="mr-2">Red </button>
                <button class="mr-2">White </button>
                <button class="mr-2">Rose </button>            
         
                <button class="mr-2"><</button>
                <button class="mr-2">> </button>            
        </div>

        <div class="row">
            <button class="mr-2 mt-2">Sparkling</button>
            <button class="mt-2">Dessert </button>
        </div>

        <div class="row">
            <div class="col-md-6">
tuka ke bide naseto partial view so izbranoto vino gore na kopcinajta
            </div>
            <div class="col-md-6">
                <img  class="img-fluid" src="~/Content/images/download.jpg" />
            </div>
        </div>
    </div>
</section>

@*ABOUT VEGA SECTION*@
<section class="py-3 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 align-self-center">
                <h1 class="pb-5 text-center">
                    Vega,
                    Small Production
                    Wines
                </h1>
                <p class="pb-1">For Clif Family, winemaking is simple. Delicious wines begin with the best fruit. So we keep a keen eye on the vineyards, ensuring their health and vitality, and make our wines with minimal intervention for a true expression of the grape’s character. Since we love to eat, we craft all of our wines to be food-friendly and highly enjoyable. </p>
                <a href="#" class="btn btn-danger btn-lg">Check our wines</a>
            </div>
            <div class="col-md-6">
                <img src="~/Content/images/photo-1506377247377-2a5b3b417ebb.jpg" class="img-fluid img-thumbnail" alt="">
            </div>
        </div>
    </div>
</section>

<section>
    <div class="py-5">
        <div class="row">
            <div class="col-md-6">
                <h3>Our partners</h3>
                <ul>
                    <li class="py-3">
                        Bube Tosheva,
                        Napa Valley, Sauvignon Blanc
                    </li>
                    <li class="py-3">
                        Bube Tosheva,
                        Napa Valley, Sauvignon Blanc
                    </li>
                    <li class="py-3">
                        Bube Tosheva,
                        Napa Valley, Sauvignon Blanc
                    </li>
                    <li class="py-3">
                        Bube Tosheva,
                        Napa Valley, Sauvignon Blanc
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                @*tuka mozete nekoj slajder nesto*@
            </div>
        </div>

    </div>
</section>

<section>

</section>



@*<body>
    <div id="primary"class=" text-light">

        <p @*style="background-image :url(Grapes.jpg)"*@

            @*Vega,
            Small Production
            Wines
        </p>

<h2>Food Friendly Wines</h2>

<p>
    For us, winemaking is simple. Delicious wines begin with the best fruit. So we keep a keen eye on the vineyards,
    ensuring their health and vitality, and make our wines with minimal intervention for a true expression of the grape’s character.
    Since we love to eat, we craft all of our wines to be food-friendly and highly enjoyable.
</p>

<h2>Vineyards & Appelations</h2>

<p>
    From the rocky coastline of Mendocino to the majestic slopes of Howell Mountain, Clif Family strives to give each of our wines a sense of place. We hope that when you open a bottle of Clif Family wine, you enjoy the nuances of the different microclimates and complex geographies that our grapes hail from.

    Our own Clif Family Vineyards consist of ten acres of certified organic Cabernet Sauvignon and Zinfandel grapes in the Napa Valley Appellation. Working with our vineyard management team and our grower partners from Mendocino and Napa Valley, we produce wines with the finest of fruit.
</p>

<div>
    OUR PARTNERS
    Bube Tosheva,
    Napa Valley, Sauvignon Blanc
    Marija Dudan
    Mendocino County, Grenache
    Renata Kalamatkovska,
    Howell Mountain AVA, Zinfandel
    Sanja Mitanoska,
    Anderson Valley AVA, Mendocino County, Gewurztraminer
    Fane Kanevcheva Iloska,
    Oak Knoll District, Napa Valley, Viognier

</div>
    </div>
</body>*@
